@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Epilogue';
}

#top {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 70px;
  margin-left: 70px;
  display: flex;
  gap: 40px;
}

#logreg {
  position: relative;
  left: 700px;
  gap: 20px;
}